body {
    font-family: 'Open Sans', sans-serif;
    background-color: rgb(247, 251, 255);
    margin: 0;
    min-width: 280px;
    font-size: 0.9rem;
}

.bold-text {
    font-weight: 700;
}

/* ============================================================== */
/*                      NAVBAR SECTION                            */

nav img {
    width: 50px;
    opacity: 0.2;
    position: relative;
    left: 70px;
    margin: 0;
    padding: 0;
}

/* ============================================================== */
/*                      ACTION CALL SECTION                       */

.action-container {
    background-image: url('../images/bg-blended.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100vw;
    margin: 0;
    gap: 10px;
}


.form-container {
    background-color: rgb(161, 197, 233, 0.3);
    padding: 20px 50px 50px;
}

.btn-free-quote {
    background-color: coral;
} 

.btn-free-quote:hover, .btn-free-quote:focus {
    background-color: rgb(251, 94, 37);
    color:darkslategray;
    border-color: #979696;
}

.form-footer {
    font-size: 0.8rem;
}

/* ============================================================== */
/*                      INFO SECTION                              */

.info-card {
    color: #6f6f6f;
}

.info-card i{
    font-size: 3rem;
}

.info-card-title {
   font-size: 1.5rem; 
}

.info-card-text {
    font-size: 1rem;
    font-weight: 600;
}

/* ============================================================== */
/*                      TESTIMONY SECTION                         */

.testimony-container {
    background-image: url('../images/testimony-bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #6f6f6f;
    font-size: 1rem;
    font-weight: 600;
}

.testimony-container img {
    width: 100px;
    border-radius: 50%;
}

.testimony-container hr {
    width: 100px;
    border: 1px solid black;
}

/* ============================================================== */
/*                              FOOTER                            */

footer {
    font-weight: 600;
    font-size: 0.8rem;
}

/* ============================================================== */
/*                  RESPONSIVE MEDIA QUERIES                      */

@media (max-width: 990px) {
    .navbar-brand {
        text-align: center;
        position: relative;
        left: 50%;
        margin-left: -50px !important;
        transform: translateX(-50%);
    }
}